In [2]:
import pandas as pd

# Path to the Parquet file
parquet_file_path = "../artifacts/input/training_data.parquet"

# Read the Parquet file into a DataFrame
df = pd.read_parquet(parquet_file_path)

# Display the first few rows
df.head()

,time,TO,indicator1_min,indicator1_max,indicator2_min,indicator2_max,indicator2_mean,indicator3_min,indicator3_max,indicator3_mean
0,1743532199,10540337,65.83,65.27,10.0,98.0,55.59,12.0,99.0,54.11
1,1743618599,10540337,76.09,54.77,10.0,98.0,57.70,10.0,99.0,51.68
2,1743704999,10540337,67.66,66.12,10.0,99.0,50.29,10.0,98.0,53.25
3,1743791399,10540337,83.22,80.61,10.0,99.0,58.97,11.0,98.0,49.92
4,1743877799,10540337,78.29,66.14,10.0,99.0,59.60,10.0,99.0,61.02

In [4]:
df.describe()  # Display summary statistics of the DataFrame

,time,TO,indicator1_min,indicator1_max,indicator2_min,indicator2_max,indicator2_mean,indicator3_min,indicator3_max,indicator3_mean
count,8.200000e+01,8.200000e+01,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000
mean,1.745394e+09,1.039778e+07,64.194756,62.583293,10.470366,98.295244,55.406951,10.028902,98.610488,54.189390
std,9.142653e+05,2.297260e+05,18.550563,18.324626,0.632700,0.778831,2.146464,1.851964,0.357929,2.550052
min,1.743532e+09,1.003210e+07,20.000000,20.000000,9.720000,96.000000,50.290000,5.000000,98.000000,48.930000
25%,1.744844e+09,1.003210e+07,52.150000,48.352500,10.000000,97.977500,53.715000,9.477500,98.335000,52.612500
50%,1.745044e+09,1.054034e+07,66.000000,65.635000,10.175000,98.460000,55.585000,10.030000,98.625000,53.910000
75%,1.746275e+09,1.054034e+07,79.610000,78.267500,10.790000,99.000000,57.162500,11.142500,99.000000,55.677500
max,1.746815e+09,1.054034e+07,98.000000,98.000000,12.000000,99.180000,59.600000,13.000000,99.120000,61.020000

In [7]:
import pandas as pd

# Step 1: Read CSV file
csv_file_path = "../artifacts/input/training_data.csv"
df = pd.read_csv(csv_file_path)
print(df.head())  # Display the first few rows of the DataFrame

# Step 2: Write to Parquet file
parquet_file_path = "../artifacts/input/training_data.parquet"
df.to_parquet(parquet_file_path, engine='pyarrow')  # or engine='fastparquet'

print(f"CSV file converted to Parquet and saved at: {parquet_file_path}")

         time        TO  indicator1_min  indicator1_max  indicator2_min  \
0  1743532199  10540337           65.83           65.27            10.0
1  1743618599  10540337           76.09           54.77            10.0
2  1743704999  10540337           67.66           66.12            10.0
3  1743791399  10540337           83.22           80.61            10.0
4  1743877799  10540337           78.29           66.14            10.0

   indicator2_max  indicator2_mean  indicator3_min  indicator3_max  \
0            98.0            55.59            12.0            99.0
1            98.0            57.70            10.0            99.0
2            99.0            50.29            10.0            98.0
3            99.0            58.97            11.0            98.0
4            99.0            59.60            10.0            99.0

   indicator3_mean
0            54.11
1            51.68
2            53.25
3            49.92
4            61.02
CSV file converted to Parquet and saved at: ../artifacts/input/training_data.parquet